@font-face {
    font-family: "YoungSerif";
    src: url(/fonts/young-serif/YoungSerif-Regular.otf);
}

@font-face {
    font-family: "Piazzolla";
    src: url(/fonts/piazzolla/Piazzolla-Regular.otf);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* CSS Reset */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.3;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

p {
    margin: 1em;
}

ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS code */

h1 {
    font-family: "YoungSerif";
    font-size: 56px;
    text-shadow: #525252;
    padding: 0.5em;
}

h2 {
    font-family: "YoungSerif";
    font-size: 48px;
    padding: 0.5em;
}

h3 {
    font-family: "YoungSerif";
    font-size: 36px;
}

p {
    font-family: "Piazzolla";
    font-size: 18px;
}


.kevinandbonnie img, .vision img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-radius: 100px;
}

.map img{
    display: block;
    width: 100%;
}

.pastevents img{
    display: block;

}

@media screen and (max-width: 960px) {

    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 960px;
        position: relative;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    /* navigation bar */

    header {
        color: white;
        background-color: #F78154;
        justify-content: center;
    }

    nav li a {
        font-family: "YoungSerif"
            list-style-type: none;
        text-decoration: none;
        color: white;
        display: flex;
        flex-direction: column;
        margin: 2em;
        transition: 0.5s;
        text-align: center;
        align-content: center;
    }

    nav ul li a:hover {
        transition: 0.5s;
        font-size: 1.5em;
        color: white;
    }

    a {
        text-decoration: none;
        text-decoration-style: none;
        text-decoration-color: white;
    }

    a:visited {
        color: white;
    }

    nav ul li img {
        display: block;
        justify-content: center;
    }

    .welcome {
        position: relative;
        text-align: center;
        color: white;
        bottom: 18em;
        box-shadow: 1px solid black;
    }

    main {
        text-align: center;
        margin-top: -10em;
    }

    main h2 {
        color: #F78154;
    }

    .events {
        background-color: #525252;
        color: white;
    }

    .events img{
    }


    .questions {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .questions h3 {
        color: #F78154;
    }

    .goodbye {
        text-align: center;
        color: #F78154;
    }

    footer {
        background-color: #F78154;
        color: white;
    }

    button {
        background-color: #F78154;
        font-size: 36px;
        color: white;
        border: none;
        border-radius: 10px;
        width: 10em;
        height: 3em;
        gap: 1em;
        transition: 0.5s;
        margin: 2em;
    }

    .comingsoon button {
        background-color: white;
        border: 1px solid green;
        color: green
    }
}

.happeningnow button {
    background-color: white;
    border: 1px solid red;
    color: red;
}

.perform button {
    background-color: white;
    border: 1px solid #F78154;
    color: #F78154;
}

.map,
.aboutevents,
.services {
    background-color: #525252;
    color: white;
    padding-bottom: 2em;
}

.events .services img {
    border-radius: 100px;
}

@media screen and (min-width: 960px) {

    body {
        background-image: url(/images/background.jpeg)
    }

    .container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        background-color: white;
        max-width: 1920px;
        text-align: center;
    }

    img {
        width: 25%;
        height: auto;
        display: block;
    }

    /* navigation bar */

    header {
        color: white;
        background-color: #F78154;
        justify-content: center;
    }

    nav li {
        list-style-type: none;
        text-decoration: none;
        color: white;
        display: inline-flex;
        flex-direction: row;
        float: inline-start;
        margin-right: 3em;
        margin-bottom: 3em;
        font-size: 24px;
        position: relative;
    }

    nav ul li a {
        text-decoration-style: none;
        text-decoration: none;
    }

    nav ul li a:hover {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        transition: 0.5s;
        font-size: 1.5em;
        color: white;
        text-align: center;
    }

    a:visited {
        color: white;
    }

    nav ul li img {
        width: 25%;
        display: block;
        justify-content: center;
        align-items: center;
    }

    .welcome {
        position: relative;
        text-align: center;
        color: white;
        bottom: 18em;
        box-shadow: 1px solid black;
    }
    
    .banner img{
        width: 100%;
    }

    main {
        text-align: center;
        margin-top: -10em;
    }

    main h2 {
        color: #F78154;
    }

    .events {
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: #525252;
        color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .eventimg {
        float: left;
        display: flex;
        flex-direction: row;
    }

    .events button {
        display: block;
    }


    .questions {
        text-align: center;
    }

    .questions h3 {
        color: #F78154;
    }

    .goodbye {
        text-align: center;
        color: #F78154;
    }

    footer {
        background-color: #F78154;
        color: white;
    }

    button {
        background-color: #F78154;
        font-size: 36px;
        color: white;
        border: none;
        border-radius: 10px;
        width: 10em;
        height: 3em;
        gap: 1em;
        transition: 0.5s;
        margin: 2em;
    }

    button a {
        text-decoration: none;
    }

    .comingsoon button {
        background-color: white;
        border: 1px solid green;
        color: green
    }
}

.happeningnow button {
    background-color: white;
    border: 1px solid red;
    color: red;
}

.perform button {
    background-color: white;
    border: 1px solid #F78154;
    color: #F78154;
}

.map,
.aboutevents,
.services {
    background-color: #525252;
    color: white;
    padding-bottom: 2em;
}

.events .services img {
    border-radius: 100px;
}